<h1><strong>Análise de sentimentos em avaliações de e-commerce de roupas</strong></h1>


**Objetivo**:

Classificar as avaliações de e-commerce de roupas em positiva ou negativa.

*   Dataset: https://www.kaggle.com/nicapotato/womens-ecommerce-clothing-reviews

***Orientador:*** Thiago de Melo

***Orientando:*** Edson Brilhante

# Importando as bibliotecas

In [1]:
!pip install tpot

Collecting tpot
  Downloading TPOT-0.11.7-py3-none-any.whl (87 kB)
     |████████████████████████████████| 87 kB 751 kB/s
Collecting stopit>=1.1.1
  Downloading stopit-1.1.2.tar.gz (18 kB)
Requirement already satisfied: xgboost>=1.1.0 in ./anaconda3/envs/dev37/lib/python3.7/site-packages (from tpot) (1.4.2)
Collecting deap>=1.2
  Downloading deap-1.3.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (160 kB)
     |████████████████████████████████| 160 kB 2.5 MB/s
Collecting update-checker>=0.16
  Downloading update_checker-0.18.0-py3-none-any.whl (7.0 kB)
Requirement already satisfied: scikit-learn>=0.22.0 in ./anaconda3/envs/dev37/lib/python3.7/site-packages (from tpot) (0.24.2)
Requirement already satisfied: numpy>=1.16.3 in ./anaconda3/envs/dev37/lib/python3.7/site-packages (from tpot) (1.21.2)
Requirement already satisfied: pandas>=0.24.2 in ./anaconda3/envs/dev37/lib/python3.7/site-packages (from tpot) (1.3.5)
Requirement already satisfied: joblib>=0.13.2 in ./anaconda3/envs/dev37/lib/python3.7/site-packages (from tpot) (1.1.0)
Requirement already satisfied: tqdm>=4.36.1 in ./anaconda3/envs/dev37/lib/python3.7/site-packages (from tpot) (4.62.3)
Requirement already satisfied: scipy>=1.3.1 in ./anaconda3/envs/dev37/lib/python3.7/site-packages (from tpot) (1.6.3)
Requirement already satisfied: python-dateutil>=2.7.3 in ./anaconda3/envs/dev37/lib/python3.7/site-packages (from pandas>=0.24.2->tpot) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in ./anaconda3/envs/dev37/lib/python3.7/site-packages (from pandas>=0.24.2->tpot) (2021.3)
Requirement already satisfied: six>=1.5 in ./anaconda3/envs/dev37/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=0.24.2->tpot) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in ./anaconda3/envs/dev37/lib/python3.7/site-packages (from scikit-learn>=0.22.0->tpot) (3.1.0)
Requirement already satisfied: requests>=2.3.0 in ./anaconda3/envs/dev37/lib/python3.7/site-packages (from update-checker>=0.16->tpot) (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./anaconda3/envs/dev37/lib/python3.7/site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (1.26.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in ./anaconda3/envs/dev37/lib/python3.7/site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in ./anaconda3/envs/dev37/lib/python3.7/site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in ./anaconda3/envs/dev37/lib/python3.7/site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (3.3)
Building wheels for collected packages: stopit
  Building wheel for stopit (setup.py) ... - done
  Created wheel for stopit: filename=stopit-1.1.2-py3-none-any.whl size=11956 sha256=f71ad49ec92f0b4b557a50fa6474d64f9bbd641ed674b6e1849322b0be1e7b9a
  Stored in directory: /home/edx/.cache/pip/wheels/e2/d2/79/eaf81edb391e27c87f51b8ef901ecc85a5363dc96b8b8d71e3
Successfully built stopit
Installing collected packages: update-checker, stopit, deap, tpot
Successfully installed deap-1.3.1 stopit-1.1.2 tpot-0.11.7 update-checker-0.18.0

In [1]:
import numpy as np
import pandas as pd
import re
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.stem.porter import PorterStemmer
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from tpot import TPOTClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

# Importando o *dataset*

In [5]:
dataset = pd.read_csv('/content/drive/MyDrive/Edson Henrique/dataset/Womens Clothing E-Commerce Reviews.csv')

# Visualização do *dataset*

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               23486 non-null  int64
 1   Clothing ID              23486 non-null  int64
 2   Age                      23486 non-null  int64
 3   Title                    19676 non-null  object
 4   Review Text              22641 non-null  object
 5   Rating                   23486 non-null  int64
 6   Recommended IND          23486 non-null  int64
 7   Positive Feedback Count  23486 non-null  int64
 8   Division Name            23472 non-null  object
 9   Department Name          23472 non-null  object
 10  Class Name               23472 non-null  object
dtypes: int64(6), object(5)
memory usage: 2.0+ MB

# Modelagem

## Seleciona as colunas '*Review Text*' e '*Rating*'

In [7]:
dataset = dataset[['Review Text', 'Rating']]
dataset = dataset.dropna()
dataset = dataset.reset_index(drop=True)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22641 entries, 0 to 22640
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Review Text  22641 non-null  object
 1   Rating       22641 non-null  int64
dtypes: int64(1), object(1)
memory usage: 353.9+ KB

## Encoding

Seleciona o atributo *'Rating'* e o converte da seguinte forma:



*   1, 2 e 3: negativa
*   4 e 5: positiva

In [8]:
dataset['Rating'] = dataset['Rating'].apply(lambda x: 1 if x >= 4 else 0)
#dataset['Rating'] = pd.Categorical(dataset['Rating'])

In [9]:
dataset

                                             Review Text  Rating
0      Absolutely wonderful - silky and sexy and comf...       1
1      Love this dress!  it's sooo pretty.  i happene...       1
2      I had such high hopes for this dress and reall...       0
3      I love, love, love this jumpsuit. it's fun, fl...       1
4      This shirt is very flattering to all due to th...       1
...                                                  ...     ...
22636  I was very happy to snag this dress at such a ...       1
22637  It reminds me of maternity clothes. soft, stre...       0
22638  This fit well, but the top was very see throug...       0
22639  I bought this dress for a wedding i have this ...       0
22640  This dress in a lovely platinum is feminine an...       1

[22641 rows x 2 columns]

## Limpando as avaliações

In [11]:
english_stopwords = list()
with open('/content/drive/MyDrive/Edson Henrique/code/stopwords/english', 'r') as a_file:
  for line in a_file:
    stripped_line = line.strip()
    english_stopwords.append(stripped_line)

excluded_words = ("not", "no",  'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'shouldn', "shouldn't",  "won't", 'wouldn', "wouldn't")
english_stopwords = [x for x in english_stopwords if x not in excluded_words]
print(english_stopwords)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'nor', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'wasn', "wasn't", 'weren', "weren't", 'won']

In [12]:
corpus = []
for i in range (0, dataset.shape[0]):
  review = re.sub('[^a-zA-Z]', ' ', dataset['Review Text'][i])
  review = review.lower()
  review = review.split()
  ps = PorterStemmer()
  review = [ps.stem(word) for word in review if not word in set(english_stopwords)]
  review = ' '.join(review)
  corpus.append(review)

In [13]:
corpus[0]

'absolut wonder silki sexi comfort'

In [14]:
dataset.iloc[0]

Review Text    Absolutely wonderful - silky and sexy and comf...
Rating                                                         1
Name: 0, dtype: object

## Criando o modelo *bag of words*

In [15]:
cv = CountVectorizer(max_features = 1500)
X = cv.fit_transform(corpus).toarray()
y = dataset.iloc[:, -1].values

## Dividindo o *dataset* em treino e teste

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

## Treino

In [19]:
tpot = TPOTClassifier(max_time_mins = 10, n_jobs = -2, random_state=0)
tpot.fit(X_train, y_train)

TPOTClassifier(max_time_mins=10, n_jobs=-2, random_state=0)

## Teste

In [20]:
y_pred = tpot.predict(X_test)

In [21]:
print('Matriz de confusão')
print(confusion_matrix(y_test, y_pred))

print('\nMétricas')
print(classification_report(y_test, y_pred, digits=3))

print('\nScore')
print(accuracy_score(y_test, y_pred))

Matriz de confusão
[[ 668  449]
 [ 173 3239]]

Métricas
              precision    recall  f1-score   support

           0      0.794     0.598     0.682      1117
           1      0.878     0.949     0.912      3412

    accuracy                          0.863      4529
   macro avg      0.836     0.774     0.797      4529
weighted avg      0.858     0.863     0.856      4529


Score
0.8626628394789136